:root{
    --fail: rgb(255, 70, 70);
    --success: rgb(39, 227, 99);
    --lightGray2: rgb(163, 173, 183);
    --lightGray: rgb(236, 239, 241);
    --light: white;
    --dark: rgb(96, 96, 100);
    --darkGray: rgb(45, 45, 48);
    --darkGray2: rgb(28, 28, 31);
    --pinkGray2: rgb(255, 248, 253);
    --pinkGray: rgb(255, 236, 247);
    --pink: rgb(255, 201, 225);
    --redGray2: rgb(255, 247, 247);
    --redGray: rgb(255, 228, 228);
    --red: rgb(255, 198, 198);
    --blueGray2: rgb(246, 249, 255);
    --blueGray: rgb(224, 234, 250);
    --blue: rgb(187, 216, 249);
    --greenGray2: rgb(247, 255, 249);
    --greenGray: rgb(223, 255, 232);
    --green: rgb(178, 253, 203);
}
/* --------------------- */
.lightMode{
    background-color: var(--light);
    color: var(--dark);
}
.lightModeGray{
    background-color: var(--lightGray);
}
.lightModeGray2{
    background-color: var(--lightGray2);
}
.lightModeGray2Color{
    color: var(--lightGray2);
}
/* -- */
.darkMode{
    background-color: var(--dark);
    color: var(--light);
}
.darkModeGray{
    background-color: var(--darkGray);
}
.darkModeGray2{
    background-color: var(--darkGray2);
}
.darkModeGray2Color{
    color: var(--dark);
}
/* -- */
.pinkMode{
    background-color: var(--pink);
    color: var(--dark);
}
.pinkModeGray{
    background-color: var(--pinkGray);
}
.pinkModeGray2{
    background-color: var(--pinkGray2);
}
.pinkModeGray2Color{
    color: var(--pinkGray2);
}
/* -- */
.redMode{
    background-color: var(--red);
    color: var(--dark);
}
.redModeGray{
    background-color: var(--redGray);
}
.redModeGray2{
    background-color: var(--redGray2);
}
.redModeGray2Color{
    color: var(--redGray2);
}
/* == */
.blueMode{
    background-color: var(--blue);
    color: var(--dark);
}
.blueModeGray{
    background-color: var(--blueGray);
}
.blueModeGray2{
    background-color: var(--blueGray2);
}
.blueModeGray2Color{
    color: var(--blueGray2);
}
/* == */
.greenMode{
    background-color: var(--green);
    color: var(--dark);
}
.greenModeGray{
    background-color: var(--greenGray);
}
.greenModeGray2{
    background-color: var(--greenGray2);
}
.greenModeGray2Color{
    color: var(--greenGray2);
}
/* ----------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightGray2);
    border-radius: 10px;
}
.avt{
    max-width: 100px;
    border-radius: 10px;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family: "Lexend";
}
#notificationBox{
    display: none;
    align-items: center;
    border-right: 5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.223);
    width: 300px;
    max-width: 40vw;
    padding: 15px;
    position: fixed;
    top: 20px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    /* Căn giữa được fixed div rồi, quá đã 😭😭😭 */
}
#icon{
    font-size: 30px;
}
#notificationMessage{
    font-size: 18px;
    padding-left: 10px;
}
@media screen and (max-width: 500px){
    body{
        font-size: 13px;
    }
    .title{
        font-size: 30px;
        margin-top: 10px;
    }
    #card{
        padding: 20px;
    }
    .avtCard{
        width: 60px;
    }
    .avt{
        width: 80px;
    }
    .main__respond__name{
        font-size: 18px;
    }
    .author{
        margin-top: 5px;
    }
    #themeIcon{
        font-size: 30px;
    }
    .choice{
        margin: 10px 5px;
    }
}